body {
	font-family: 'Nanum Gothic', sans-serif;
  }
  
  
  html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
  }
  body {
	margin: 0;
  }
  main {
	display: block;
  }
  h1 {
	font-size: 2em;
	margin: 0.67em 0;
  }
  hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
  }
  pre {
	font-family: monospace, monospace;
	font-size: 1em;
  }
  a {
	background-color: transparent;
  }
  abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
  }
  b,
  strong {
	font-weight: bolder;
  }
  code,
  kbd,
  samp {
	font-family: monospace, monospace;
	font-size: 1em;
  }
  small {
	font-size: 80%;
  }
  sub,
  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
  }
  sub {
	bottom: -0.25em;
  }
  sup {
	top: -0.5em;
  }
  img {
	border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
  }
  button,
  input {
	overflow: visible;
  }
  button,
  select {
	text-transform: none;
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
	-webkit-appearance: button;
  }
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
	border-style: none;
	padding: 0;
  }
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring,
  button:-moz-focusring {
	outline: 1px dotted ButtonText;
  }
  fieldset {
	padding: 0.35em 0.75em 0.625em;
  }
  legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
  }
  progress {
	vertical-align: baseline;
  }
  textarea {
	overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
	box-sizing: border-box;
	padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
	height: auto;
  }
  [type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
  }
  details {
	display: block;
  }
  summary {
	display: list-item;
  }
  [hidden],
  template {
	display: none;
  }
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
	margin: 0;
  }
  button {
	background-color: transparent;
	background-image: none;
  }
  button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
  }
  fieldset,
  ol,
  ul {
	margin: 0;
	padding: 0;
  }
  ol,
  ul {
	list-style: none;
  }
  html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
	  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
	  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
  }
  *,
  :after,
  :before {
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
  }
  hr {
	border-top-width: 1px;
  }
  img {
	border-style: solid;
  }
  textarea {
	resize: vertical;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
	color: #a0aec0;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
	color: #a0aec0;
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
	color: #a0aec0;
  }
  input::placeholder,
  textarea::placeholder {
	color: #a0aec0;
  }
  [role="button"],
  button {
	cursor: pointer;
  }
  table {
	border-collapse: collapse;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: inherit;
	font-weight: inherit;
  }
  a {
	color: inherit;
	text-decoration: inherit;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
  }
  code,
  kbd,
  pre,
  samp {
	font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
	display: block;
	vertical-align: middle;
  }
  img,
  video {
	max-width: 100%;
	height: auto;
  }
  .container {
	width: 100%;
  }
  @media (min-width: 640px) {
	.container {
	  max-width: 640px;
	}
  }
  @media (min-width: 768px) {
	.container {
	  max-width: 768px;
	}
  }
  @media (min-width: 1024px) {
	.container {
	  max-width: 1024px;
	}
  }
  @media (min-width: 1280px) {
	.container {
	  max-width: 1280px;
	}
  }
  .bg-gray-100 {
	--bg-opacity: 1;
	background-color: #f7fafc;
	background-color: rgba(247, 250, 252, var(--bg-opacity));
  }
  .bg-gray-800 {
	--bg-opacity: 1;
	background-color: #2d3748;
	background-color: rgba(45, 55, 72, var(--bg-opacity));
  }
  .bg-gray-900 {
	--bg-opacity: 1;
	background-color: #1a202c;
	background-color: rgba(26, 32, 44, var(--bg-opacity));
  }
  .bg-red-700 {
	--bg-opacity: 1;
	background-color: #c53030;
	background-color: rgba(197, 48, 48, var(--bg-opacity));
  }
  .border-gray-700 {
	--border-opacity: 1;
	border-color: #4a5568;
	border-color: rgba(74, 85, 104, var(--border-opacity));
  }
  .rounded {
	border-radius: 0.25rem;
  }
  .rounded-full {
	border-radius: 9999px;
  }
  .border {
	border-width: 1px;
  }
  .cursor-pointer {
	cursor: pointer;
  }
  .flex {
	display: flex;
  }
  .inline-flex {
	display: inline-flex;
  }
  .items-center {
	align-items: center;
  }
  .justify-center {
	justify-content: center;
  }
  .justify-between {
	justify-content: space-between;
  }
  .h-8 {
	height: 2rem;
  }
  .m-8 {
	margin: 2rem;
  }
  .mx-auto {
	margin-left: auto;
	margin-right: auto;
  }
  .mt-2 {
	margin-top: 0.5rem;
  }
  .mr-2 {
	margin-right: 0.5rem;
  }
  .mb-auto {
	margin-bottom: auto;
  }
  .ml-auto {
	margin-left: auto;
  }
  .max-h-0 {
	max-height: 0;
  }
  .group:focus .group-focus\:max-h-screen {
	max-height: 100vh;
  }
  .outline-none {
	outline: 0;
  }
  .overflow-hidden {
	overflow: hidden;
  }
  .p-2 {
	padding: 0.5rem;
  }
  .py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
  }
  .py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
  }
  .px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
  }
  .pr-10 {
	padding-right: 2.5rem;
  }
  .fixed {
	position: fixed;
  }
  .absolute {
	position: absolute;
  }
  .relative {
	position: relative;
  }
  .top-0 {
	top: 0;
  }
  .right-0 {
	right: 0;
  }
  .bottom-0 {
	bottom: 0;
  }
  .text-center {
	text-align: center;
  }
  .text-justify {
	text-align: justify;
  }
  .text-white {
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
  }
  .text-gray-400 {
	--text-opacity: 1;
	color: #cbd5e0;
	color: rgba(203, 213, 224, var(--text-opacity));
  }
  .text-gray-500 {
	--text-opacity: 1;
	color: #a0aec0;
	color: rgba(160, 174, 192, var(--text-opacity));
  }
  .group:focus .group-focus\:text-white {
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255, var(--text-opacity));
  }
  .w-8 {
	width: 2rem;
  }
  .w-full {
	width: 100%;
  }
  .transform {
	--transform-translate-x: 0;
	--transform-translate-y: 0;
	--transform-rotate: 0;
	--transform-skew-x: 0;
	--transform-skew-y: 0;
	--transform-scale-x: 1;
	--transform-scale-y: 1;
	transform: translateX(var(--transform-translate-x))
	  translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
	  skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
	  scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }
  .group:focus .group-focus\:-rotate-180 {
	--transform-rotate: -180deg;
  }
  .transition {
	transition-property: background-color, border-color, color, fill, stroke,
	  opacity, box-shadow, transform;
  }
  .duration-500 {
	transition-duration: 0.5s;
  }
  @media (min-width: 640px) {
	.sm\:container {
	  width: 100%;
	  max-width: 640px;
	}
	@media (min-width: 768px) {
	  .sm\:container {
		max-width: 768px;
	  }
	}
	@media (min-width: 1024px) {
	  .sm\:container {
		max-width: 1024px;
	  }
	}
	@media (min-width: 1280px) {
	  .sm\:container {
		max-width: 1280px;
	  }
	}
  }
  @media (min-width: 768px) {
	.md\:container {
	  width: 100%;
	}
	@media (min-width: 640px) {
	  .md\:container {
		max-width: 640px;
	  }
	}
	@media (min-width: 768px) {
	  .md\:container {
		max-width: 768px;
	  }
	}
	@media (min-width: 1024px) {
	  .md\:container {
		max-width: 1024px;
	  }
	}
	@media (min-width: 1280px) {
	  .md\:container {
		max-width: 1280px;
	  }
	}
  }
  @media (min-width: 1024px) {
	.lg\:container {
	  width: 100%;
	}
	@media (min-width: 640px) {
	  .lg\:container {
		max-width: 640px;
	  }
	}
	@media (min-width: 768px) {
	  .lg\:container {
		max-width: 768px;
	  }
	}
	@media (min-width: 1024px) {
	  .lg\:container {
		max-width: 1024px;
	  }
	}
	@media (min-width: 1280px) {
	  .lg\:container {
		max-width: 1280px;
	  }
	}
  }
  @media (min-width: 1280px) {
	.xl\:container {
	  width: 100%;
	}
	@media (min-width: 640px) {
	  .xl\:container {
		max-width: 640px;
	  }
	}
	@media (min-width: 768px) {
	  .xl\:container {
		max-width: 768px;
	  }
	}
	@media (min-width: 1024px) {
	  .xl\:container {
		max-width: 1024px;
	  }
	}
	@media (min-width: 1280px) {
	  .xl\:container {
		max-width: 1280px;
	  }
	}
}