.margin {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width:640px) {
	.margin {
		margin-left: auto;
		margin-right: auto;
	}
 
 }

@media only screen and (max-width:800px) {
	.margin {
		margin-left: auto;
		margin-right: auto;
	}
 
 }